@font-face {
	font-family: 'LeagueGothic-Regular';
	src: url('fonts/LeagueGothic-Regular.otf');
}
@font-face {
	font-family: 'CourierRegularNew';
	src: url('fonts/curr.ttf');
}

body {
	color: #f3f3f3;
	margin: 0px;
	text-align: center;
	padding: 1em;
	font-family: Helvetica, Arial, sans-serif;
}

#Game {
	width: 90%;
	margin: auto;
	height: 90%;
}

#Game td {
	padding: 2em 4em;
}

.pane {
	border-radius: 1.2em;
	background: #2a2b2e;
	padding: 2em;
	border: none;
}



#info-container {
	width: 35%;
}

/**----- item, upgrade, inventory, summon ------**/

#dynamic-box {
	text-align: left;
	width: 22em;
}

#dynamic-box h3 {
	text-align: center;
	color: #30BF5B;
}

.description {
	text-align: center;
	padding: 0.5em;
	border-radius: 0.5em;
}

#item {
	display: s;
}

#upgrade {
	display: none;
}

#inventory {
	display: none;
}

#summon {
	display: none;
}

#spawn {
	height: 37em;
}


#button-pane {
	margin: 2em 0em;
}

#button-pane button {

}

#upgrade-buttons button {
	width: 5.2em;
}

/**---------- Health Pane ---------**/
#health-img {
	width: 100%;
}

#score-hud {
	padding-top: 2em;
}

.float-button-box  p {
	text-align: left;
	float: left;
}

.float-button-box button {
	float: right;
}

#score-hud .clearfix {
	clear: both;
}

/** enemy container **/
#enemy-container {
	width: 65%;
	background-image: url("images/monster_background.svg");
	background-size: 200%;
	background-position: center;
	border-radius: 2em;
	background-repeat: no-repeat;
}

#enemy-inner-container {
	padding: 1em;
}

#quest fieldset {
	border: none;
	border-radius: 1em;
	background: rgba( 37, 38, 40, 0.78 ); #252628ff;
}

#quest legend {
	border-radius: 1em;
	padding: 0.5em 1em;
	margin-left: 3em;
}

.icon {
	float: left;
	height: 1.6em;
}

#button-pane {

}

#button-pane > button {
	margin: 0em 4%;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	height: 3.5em;
}

button {
	padding: 0.5em;
	border-radius: 0.5em;
	background: grey;
	border: none;
	color: white;
	font-weight: bold;
	font-size: small;
	text-transform: uppercase;
}

#blanket {
	background-color:#111;
	opacity: 0.65;
	*background:none;
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
}


/**-------- Heading --------**/
#heading {
	height: 5rem;
	background: url( "images/title.svg" );
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin-bottom: 1em;
}

#heading h3 {
	visibility: hidden;
}
/**-------- Creature Box ----------**/

#CreatureHud {
	border: 0.1em;
}


#monstHealth {
    width: 100%;
}

#monstImage {
	height: 100%;
	margin-right: 18%;
}

#healt {
	width: 100%
}

/*HP bar*/

.meter {
	height: 1.2em;
	background: #252628;
	border-radius: 1em;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	width: 89%;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 0.6em;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  overflow: hidden;
}

/**------------ color -----------**/
.red {
  background-color: #A42941;
}

.blue {
	background-color: #4A94D0;
}

.green {
	background-color: #30BF5B;
}

.purple {
	background-color: #684782;
}

.darkgrey {
	background-color: #252628;
}

.grey {
	background-color: #2A2B2E;
}

.lightgrey{
    background-color:#454546;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.courier {
	font-family: 'CourierRegularNew', monospace;
	font-size: 0.7em;
}
