body {
	background-color: white;
	margin: 0px;
}

div.Game {
	position: center;
	margin: auto;
	width: 1280px;
	height: 720px;
	border: 1px solid black;	
}

div.Inventory {
	float: left;
	width: 630px;
	height: 350px;
	border: 1px solid red;
}

div.Creature {
	float: right;
	width: 630px;
	height: 350px;
	border: 1px solid red;
}

div.Health {
	float: left;
	width: 630px;
	height: 350px;
	margin-top: 8px;
	border: 1px solid red;
}

div.Quest {
	float: right;
	width: 630px;
	height: 350px;
	margin-top: 8px;
	border: 1px solid red;
}

#blanket {
background-color:#111;
opacity: 0.65;
*background:none;
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#popUpDiv {
position:absolute;
/*background:url(pop-back.jpg) no-repeat;*/
width:400px;
height:400px;
border:5px solid #000;
z-index: 9002;
}
