body {
	background-color: #252628;
	color: #f3f3f3;
	margin: 0px;
	text-align: center;
	padding: 1em;
}

#Game {
	width: 90%;
	margin: auto;
	height: 90%;
}

#Game td {
	padding: 2em 4em;
}

.pane {
	border-radius: 1.2em;
	background: #2a2b2e;
	padding: 2em;
	border: none;
}



#info-container {
	width: 30%;
}

/**----- item, upgrade, inventory, summon ------**/

#item {
	display: none;
}

#upgrade {
	display: visible;
}

#inventory {
	display: none;
}

#summon {
	display: none;
}

#health-pane {

}

#button-pane {
	margin: 2em 0em;
}

#button-pane button {

}

#score-hud {

}

#score-hud > p {
	display: inline;
}

#score-hud > button {
	float: right;
}

/** enemy container **/
#enemy-container {
	width: 70%;

}


#quest fieldset {
	border: none;
	border-radius: 1em;
	background: rgba( 80, 80, 80, 0.7);
}

#quest legend {
	border-radius: 1em;
	padding: 0.5em 1em;
	background: red;
	font-weight: bold;
	margin-left: 3em;
}

button {
	padding: 0.5em;
	border-radius: 0.5em;
	background: grey;
	border: none;
}

#blanket {
	background-color:#111;
	opacity: 0.65;
	*background:none;
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
}

/**-------- Creature Box ----------**/

#CreatureHud {
	border: 0.1em;
}

#monstHealth {
    width: 100%;
}

#monstImage {
	width: 25%;
	height: 25%;
}

#healt {
	width: 100%
}

/*HP bar*/

.meter {
	height: 1.2em;  /* Can be anything */
	background: #555;
	border-radius: 1em;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	width: 80%;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 0.6em;
  /*border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;*/
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  /*box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);*/
  overflow: hidden;
}

.red {
  background-color: #A42941;
}

.blue {
	background-color: #4A94D0;
}

.green {
	background-color: #30BF5B;
}

.purple {
	background-color: #684782;
} 
