body {
	background-color: #252628;
	color: #f3f3f3;
	margin: auto;
	text-align: center;
	padding: 1em;
}

div {
	background: #2a2b2e;
	vh: 95%;
	vw: 90%;
	margin: 5em;
}

img {
	height: 50%;
	width: 50%;
}