body {
	background-color: #252628;
	color: #f3f3f3;
	margin: 0px;
	text-align: center;
	padding: 1em;
}

div {
	background: #2a2b2e;
	height: 100px;
	width: 200px;
	margin: 5em;
}

image {
	vh: 90%;
	vw: 85%;
}