
#popUpDiv {
	position:absolute;
	/*background:url(pop-back.jpg) no-repeat;*/
	background-color: black;
	color: #f3f3f3;
	width:400px;
	height:400px;
	border:5px solid #000;
	z-index: 9002;
}

#summonPopUp {
    position:absolute;
    /*background:url(pop-back.jpg) no-repeat;*/
    background-color: black;
    width:400;
    height:400;
    border: 5px solid #000;
    z-index: 9005;
}

#questPopUp {
    position:absolute;
    /*background:url(pop-back.jpg) no-repeat;*/
    background-color: black;
    width:400;
    height:400;
    border: 5px solid #000;
    z-index: 9005;
}

#Inv {
    position:absolute;
    /*background:url(pop-back.jpg) no-repeat;*/
    background-color: black;
    width:400px;
    height:400px;
    border:5px solid #000;
	z-index: 9002;
}

#Upg {
    position:absolute;
    /*background:url(pop-back.jpg) no-repeat;*/
    background-color: black;
    width:400px;
    height:400px;
    border:5px solid #000;
	z-index: 9002;
}

#questPopup{
	position:absolute;
    /*background:url(pop-back.jpg) no-repeat;*/
    background-color: #252628;
    width:200px;
    height:200px;
    border: 5px solid #252628;
	z-index: 9002;
}
